 <section class="bg-[transparent]">
  <app-animated-bg></app-animated-bg>
  <div class="mx-auto max-w-6xl px-6 py-10">
    <h1 class="text-3xl font-semibold tracking-tight text-gray-900">
      Employee Self-Service
    </h1>
    <p class="mt-2 text-base text-gray-500">
      Access your personal information and submit requests.
    </p>

    <div class="mt-8 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
      <button
        *ngFor="let card of cards"
        type="button"
        (click)="onCardClick(card)"
        class="group w-full rounded-2xl bg-white p-6 text-left shadow-md ring-1 ring-gray-200 transition
               hover:-translate-y-0.5 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <div class="flex items-center justify-center">
          <div class="rounded-2xl  p-4  ">
            <!-- ICONS -->
         <div class="flex items-center justify-center">
  <div
    class="flex h-14 w-14 items-center justify-center rounded-2xl shadow-sm"
    [ngClass]="card.iconWrapClass"
  >
    <i class="text-2xl" [class]="card.iconClass"></i>
  </div>
</div>
          </div>
        </div>

        <div class="mt-5 text-center">
          <h3 class="text-lg font-semibold text-gray-900">
            {{ card.title }}
          </h3>
          <p class="mt-1 text-sm text-gray-500">
            {{ card.description }}
          </p>
        </div>
      </button>
    </div>
  </div>
</section>

<section>
    <ng-container *ngIf="selectedCard == 'Leave Management'">
        <app-leave-status></app-leave-status>
    </ng-container>
     <ng-container *ngIf="selectedCard == 'Profile & ID'">
        <app-profile></app-profile>
    </ng-container>
</section>
