@import "@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors duration-300 bg-gray-50 text-gray-900;
}

/* في حالة الدارك مود، غير الخلفية والخط لكل الصفحة */
.dark body {
  @apply bg-slate-900 text-gray-100;
}